# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual env
.venv/
venv/
env/

# Django
*.log
*.pot
db.sqlite3
staticfiles/
media/
.env

# Tests
.coverage
htmlcov/
.pytest_cache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Build
dist/
build/
*.egg-info/
